# DUPLICATION: must match installer list_udev_keyboards
# match ID_INPUT_KEYBOARD sitting under /devices/platform or /devices/pci
SUBSYSTEM=="input", ACTION=="add", \
  DEVPATH=="/devices/p*/event*", \
  ENV{ID_INPUT_KEYBOARD}=="1", \
  PROGRAM="/usr/bin/systemd-escape -p --template=kmonad@.service $env{DEVNAME}",\
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="%c"
