[Unit]
Description=key remapping daemon for REPLACE_DEVICE
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /usr/share/kmonad/config-REPLACE_DEVICE.kbd.txt

[Install]
WantedBy=sysinit.target
