[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/https;
Exec=browser-router %u
Name=Firefox
Comment=Firefox, unless Google Meet and then Chrome
